DB_CONNECTION=db_url
JWT_SECRET= ifs on local host anyone fine, generate one
JWT_ALG=HS256
PORT= I prefer 5000 for localhost but any is fine
#API_SERVER_URL=http://<computer-ip>:<port>/ -- this should be used for localhost and testing the camera
#API_SERVER_URL=https://backend-edu-vis-production.up.railway.app -- use this when testing in prod
